.dashboard{
  display: flex;
  
  @media screen and (max-width: 881px) {
    display: block;
    width: 100%;
  }

  &Panel1{
    &Nav{
      text-align: center;
      padding: 1.2em 0;
      margin-bottom: 1em;
      font-weight: 400;
      position: sticky;
      top: 0;
      background-color: white;
      border-bottom: 1px solid #E7EAF3;
    }
  
    flex: 2.5;
    .balanceCard{
      background-color: #7567CE;
      color: white;
      padding: 2.5em;
      height: 15em;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      position: sticky;
      top: 0;

      span{
        color: #EAEAEA;
      }

      h1{
        font-size: 3em;
        margin: 0;
      }

      &Controllers{
        display: flex;
        align-items: center;
        margin-top: 1em;

        div{
          cursor: pointer;
          background-color: #2f2957;
          width: 50px;
          height: 50px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: .2em 1em;
          border-radius: 12px;
        }
      }
    }

    .recent{
      width: 85%;
      margin: auto;

      @media screen and (max-width: 881px) {
        width: 90%;
      }

      &Header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
          font-weight: 300;
          a{
            color: #6055A9;
            text-decoration: none;
            
            &:active{
              text-decoration: none;
            }
          }
        }

        &Transactions{
          overflow-y: scroll;
        }
      }
    }
  }

  &Panel2{
    flex: 2;
    background-color: #F8F8F8;

    @media screen and (max-width: 881px) {
      display: none;
    }
  }
}





// .card {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   color: #7567ce;
//   background-color: white;
//   box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
//   padding: 2em;
//   margin: 2em auto;
//   border-radius: 5px;
//   width: 85%;
//   text-align: right;

//   h1,
//   h2,
//   p {
//     margin: 0;
//   }

//   a {
//     text-decoration: none;
//   }

//   button {
//     background-color: #7567ce;
//     outline: none;
//     border: none;
//     color: white;

//     &.fund {
//       font-size: 5em;
//       border-radius: 50%;
//       width: 1em;
//       height: 1em;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//   }

//   @media screen and( max-width: 600px ) {
//     width: 70%;
//   }
// }

// .refLink {
//   position: relative;

//   input {
//     width: 100%;
//     height: 2.2em;
//     outline: none;
//     border: 1px solid #7567ce;
//     border-radius: 25px;
//     padding-left: 1em;
//   }

//   button {
//     height: 2.2em;
//     width: 6em;
//     position: absolute;
//     right: 2.5em;
//     border-radius: 0 25px 25px 0;
//   }
// }

// .cards {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 92%;
//   margin: 2em auto;

//   a {
//     background-color: white;
//     color: #000000;
//     text-decoration: none;
//     box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
//     width: 30%;
//     text-align: center;
//     padding: 1em 0;
//     border-radius: 5px;
//     font-weight: bold;
//     cursor: pointer;
//   }

//   @media screen and( max-width: 600px ) {
//     flex-direction: column;
//     margin: 0.5em auto;

//     a {
//       width: 100%;
//       margin: 0.5em auto;
//     }
//   }
// }

// .balances {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 92.5%;
//   margin: 2em auto;

//   div {
//     background-color: white;
//     box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
//     width: 40.5%;
//     text-align: right;
//     padding: 2.5em 3.5%;
//     border-radius: 5px;
//     font-weight: bold;
//     cursor: pointer;
//     color: #7567ce;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: left;
//     position: relative;

//     h1,
//     h2 {
//       margin: 0;
//     }
//   }

//   @media screen and( max-width: 600px ) {
//     width: 94%;
//     flex-direction: column;
//     margin: 0.5em auto;

//     div {
//       width: 86%;
//       padding: 1.5em 6.5%;
//       margin: 0.5em auto;
//     }
//   }
// }
