.payment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;
  height: 100%;

  .header{
    position: fixed;
    top: 1em;
    color: #7567ce;
  }

  @media screen and (max-width: 880px) {
    flex-direction: column-reverse;
  }

  &Type {
    width: 30%;

    h1 {
      font-size: 2.5em;
      margin-bottom: 1em;
    }
    
    @media screen and (max-width: 880px) {
      width: 90%;
    }

    &Selection {
      @media screen and (max-width: 880px) {
        display: flex;
      }
      div {
        background-color: #7567ce;
        text-align: center;
        border-radius: 50px;
        padding: 1.5em 0;
        margin: 0.5em 0;
        cursor: pointer;

        @media screen and (max-width: 880px) {
          width: 100%;
          border-radius: 12px;
          font-size: .65em;

          &:nth-of-type(1){
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          &:nth-of-type(2){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        h2 {
          color: #ffffff;
        }
      }
    }
  }

  &Form {
    box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
    width: 40%;
    padding: 0.2em;

    @media screen and (max-width: 880px) {
      width: 90%;
    }

    .Form {
      width: 90%;
      margin: auto;
      padding: 1em 0 2em;

      label {
        display: block;
        width: 100%;
        margin: auto;
        font-size: 0.9em;
        color: black;

        &:nth-of-type(1) {
          margin-top: 2em;
        }
      }

      input {
        display: block;
        width: 96%;
        padding-left: 1em;
        height: 45px;
        border-radius: 7px;
        font-size: 1em;
        margin: 0.3em auto 1em;
        outline: none;
        border: 1px solid #7567ce;
        color: #7567ce;

        &:disabled {
          cursor: not-allowed;
        }

        &:focus {
          border: 1px solid #7567ce;
        }

        @media screen and (max-width: 490px) {
          width: 93%;
        }
      }

      .inputSymbolNaira,
      .inputHeavySymbolNaira {
        position: relative;

        input {
          padding-left: 25px;
          width: 94%;
          font-size: 1.2em;

          @media screen and (max-width: 880px) {
            width: 90%;
          }
        }

        &:before {
          position: absolute;
          top: 19.5px;
          font-size: 1.2em;
          z-index: 10;
          content: "₦";
          left: 10px;
          font-weight: bolder;
          color: #7567ce;
        }
      }

      .inputHeavySymbolNaira {
        &:before {
          top: 18px;
        }
      }

      button {
        display: block;
        width: 100%;
        margin: 2em auto auto;
        height: 50px;
        border-radius: 7px;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #7567ce;
        color: white;
        box-shadow: 0 4px 1px rgba(black, 0.4);
        transition: box-shadow 0.2s linear;

        &:hover {
          box-shadow: 0 4px 1px rgba(black, 0.7);
        }

        &:disabled {
          background-color: #e2d1fc;

          &:hover {
            transform: translateY(0);
            cursor: not-allowed;
          }
        }

        .spinner {
          width: 2em;
          height: 2em;
          animation: rotate 1s linear infinite;
        }

        @media screen and (max-width: 490px) {
          width: 101%;
        }
      }
    }
  }
}
